<div class="home">
  <h4>Home</h4>
  <li>
    <a routerLink="/life-cycle" data-test-id="life-cycle">Life Cycle Hooks</a>
  </li>
  <li><a routerLink="/component-interaction">Component Interaction</a></li>
  <li><a routerLink="/style">Component Style</a></li>
  <li><a routerLink="/content">Content Projection</a></li>
  <li><a routerLink="/dynamic-loading">Dynamic Loading</a></li>
  <li><a routerLink="/custom-pipe">Custom Pipe</a></li>
  <li><a routerLink="/two-way">Two way Binding</a></li>
  <li><a routerLink="/template">Template Variables</a></li>
  <li><a routerLink="/can-activate">Can Activate</a></li>
  <li><a routerLink="/can-deactivate">Can Deactivate</a></li>
  <li><a routerLink="/can-load">Can Load</a></li>
  <li><a routerLink="/dependency">Dependency Injection</a></li>
  <li><a routerLink="/track-by">ngFor trackby</a></li>
  <li><a routerLink="/custom-directive">Custom Directive</a></li>
  <li><a routerLink="/async-pipe">Async pipe</a></li>
  <li><a routerLink="/resolve-guard">Resolve Guard</a></li>
  <li>
    <a [routerLink]="['', { outlets: { details: ['named-outlet'] } }]">Named Outlets</a>
  </li>
  <li><a routerLink="/reactive-form">Reactive forms</a></li>
  <li><a routerLink="/view-child">View Child</a></li>
  <li><a routerLink="/value-control">Value Control - Reactive Forms</a></li>
  <li><a routerLink="/for-child">For Child</a></li>
  <li><a routerLink="/rxjs">RXJS</a></li>
  <li><a routerLink="/http">HTTP</a></li>
  <li><a routerLink="/http">Test Deployment</a></li>
</div>
